html{
    background-color: lightslategrey;
    color: azure;
}
.main{
    display: flex;
    justify-content: center;
}
.input{
     margin-top: 45px; 
    margin-left: 150px;
}
.t{
    font-size: larger;
}
#first{
padding: 10px;
}
.t2{
    font-size: larger;
}
#second{
    padding: 10px;
}
.button{
    margin-top: 80px;
    margin-left: 145px;
    padding: 10px;
    border-radius: 7px;
}
